<h1>Welcome to MMORPS</h1>

<ul>
  <li>Player Score:</li>
  <li>Computer Score:</li>
</ul>
<form action="/" method="post">
  <input type="radio" name="rps" value="r"> Rock
  <input type="radio" name="rps" value="p"> Paper
  <input type="radio" name="rps" value="s"> Scissors
  <input type="submit" value="Go!">
</form>
